.product-cart-box{
  border: 1px solid #e9e9e9;
  padding: 10px;
  display: flex;
  margin: 20px;
  border-radius: 8px;
}

.product-cart-box img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.product-cart-name{
  color: #1d1d2e;
  margin: 10px 3px 0px 0px;
}

.product-cart-price{
  font-size: 0.8rem;
  margin: 0px 3px 10px 0px;
}

.product-cart-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cart-footer-btn{
  border: 1px solid #cacaca;
  padding: 6px 9px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
.product-cart-footer-qtd{
  margin-left: 10px;
  margin-right: 10px;
}

.product-cart-footer-price{
  color: #e84f3d;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  margin-left: 20px;
}

